/* special-navbar.css */
.special-navbar {
  background-color: #fff;
  padding: 15px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between; /* space between logo and progress */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.checkout-progress {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  flex: 1;
  justify-content: center;
}

.step {
  padding: 5px 10px;
  color: #999;
}

.step.active {
  color: #2874f0 !important;
}

.step.completed {
  color: #000;
}

.separator {
  color: #999;
  margin: 0 5px;
}

.special-navbar .secureContainer {
    float: right;
    max-height: 78px;
}

.special-navbar .secureContainer .secureIcon {
    margin: -7px 5px 0 0;
}

.special-navbar .secureContainer .secure {
    float: right;
    letter-spacing: 3px;
    color: #535766;
    margin: 0 20px 0 0;
    font-size: 14px;
}

@media (max-width: 768px) {
  .special-navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
  }

  .logo {
    font-size: 20px !important;
  }

  .checkout-progress {
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
    text-align: center;
  }

  .step {
    padding: 0px 5px;
  } 

  .separator {
    margin: 0 3px;
  }

  .secureContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    margin-top: 5px;
  }

  .secureContainer .secure {
    font-size: 12px;
    margin: 0 0 0 8px;
    letter-spacing: 2px;
  }

  .secureContainer .secureIcon {
    width: 22px;
    height: 24px;
    margin: 0;
  }
}