.orders-container {
  padding: 20px;
  max-width: 500px;
  /* margin: auto; */
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 15px;
  background-color: #f9f9f9;
}

.order-card ul {
  list-style: none;
  padding: 0;
}

.order-card li {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.order-card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.total {
  font-weight: bold;
}

.order-date {
  font-size: 0.85rem;
  color: gray;
}


.cancel-order-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-order-btn:hover {
  background-color: #e63946;
}


.inline-confirm-box {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}

.inline-confirm-box p {
  margin: 0 0 8px;
}

.yes-btn, .no-btn {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.yes-btn {
  background-color: #d9534f;
  color: white;
}

.no-btn {
  background-color: #6c757d;
  color: white;
}
